/* Media Query BreakPoints */
$breakpoints: (xs: (0:600), sm: (601:900), md: (901:1200), lg: (1201:1800), xl: 1801)
$resolution: (background-color: (#78f2af, #9ddb75, #6fb978, #41763b, #445620), color: (black, black, black, white, white))
$grid: (width: (750px, 992px, 1366px, 2160px, 2560px), height: (100vh), display: (none, none, flex, flex, flex))
/* /end Media Query BreakPoints */

/* Defaults */
$button: (padding: (7px 15px, 7px 15px, 7px 15px, 10px 20px, 10px 20px), font-size: (.7rem, .7rem, .8rem, .9rem, 1rem))
$button-hover: (padding: (7px 23px 7px 7px, 7px 23px 7px 7px, 7px 23px 7px 7px, 10px 30px 10px 10px, 10px 30px 10px 10px))

/* Preloader */



/* Home */
$active: #ddb321
$inactive: #323232
$menu: (width: (100%), height: (5rem, 5rem, 6rem, 8rem, 8rem), font-size:(.8rem, .8rem, 1rem, 1.2rem, 1.2rem), padding:(null, null, 0 .4rem, 0 .6rem, 0 .6rem))
$logo: (width: (40px, 40px, 50px, 70px, 70px), height: (40px, 40px, 50px, 70px, 70px))
$icon: (width: (none, none, 20px, 30px, 30px), height: (none, none, 20px, 30px, 30px), transition: (all 400ms), fill: (grey), display:(none, none, flex, flex, flex))
$slate: (width: (100%), height: (26rem, 26rem, 30rem, 31rem, 39rem))
$holder: (padding-top: (5rem, 5rem, 6rem, 8rem, 8rem), height: (26rem, 26rem, 30rem, 39rem, 39rem), display: (none, none, flex, flex, flex), padding: (1rem 0, 1rem 0, 1rem 0, 1.4rem 0, 1.4rem 0))
$speed: all 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955)
$icon-mobile: (display: (flex, flex, none, none, none))
$mobile: (padding-top: (5rem, 5rem, 6rem, 8rem, 8rem))
$chat: (top: (5rem, 5rem, 6rem, 8rem, 8rem))
$chat-screen: (top: (calc(5rem + 50px), calc(5rem + 50px), calc(6rem + 50px), calc(8rem + 50px), calc(8rem + 50px)))
/* /end Home */
/* Stripe */
$image: (height: (15rem, 20rem, 25rem, 30rem, 45rem))
$stripe-images: (2: ('../img/home/sections/02_stripe/stripe_00.jpg'), 3: ("../img/home/sections/02_stripe/stripe_01.jpg"), 4: ('../img/home/sections/02_stripe/stripe_02.jpg'), 5: ('../img/home/sections/02_stripe/stripe_03.jpg'), 6: ('../img/home/sections/02_stripe/stripe_04.jpg'))
$banner: (padding: (2rem 0 0 2rem, 2rem 0 0 4rem, 3rem 0 0 7rem, 6rem 0 0 10rem, 6rem 0 0 10rem), font-size: (1.5rem, 2.5rem, 3rem, 4rem, 4rem), margin-bottom: (1rem, 1rem, 2rem, 2rem, 2rem))
$tagline: (font-size: (.7rem, 1rem, 1.3rem, 1.5rem, 1.5rem))
$page: (width: (1.5rem, 1.5rem, 1.5rem, 1.5rem, 2rem), margin: (0 .2rem, 0 .3rem, 0 .3rem, 0 .4rem, 0 .4rem))
$timerRadius: (width: (20px, 20px, 30px, 40px, 40px), height: (20px, 20px, 30px, 40px, 40px))
